body {
    font-family: sans-serif;
    background-color: #FFBE7B;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFA351;
  }
  
  .logo {
    margin:5px 20px 3px 5px;
   

  }
  .logo img{
    height: 70px;
    width: 70px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFA351;
    padding: 10px 20px; /* Adjust padding for better spacing */
  }
  
  nav .buttons {
    display: flex;
    align-items: center;
  }
  
  nav button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  nav button:hover {
    opacity: 0.7;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  nav ul li a:hover{
    color: #EED971;
  }
  
    
  .contact-form {
    margin-top: 50px;
  }
  
  .contact-form h2 {
    font-size: 30px;
    text-align: center;
    background-color: #EED971;
    padding: 10px;
  }
  
  .contact-form form {
    width: 500px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-media a {
    margin: 0 10px;
    font-size: 40px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff; /* Background color for input fields */
  }
  
  .contact-form button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  .contact-form button {
    display: block;
    margin: 0 auto;
  }